# Ignore Python bytecode files
__pycache__/

# Ignore virtual environment directories
.venv/

# Ignore environment variable files
.env

# Ignore large files
*.csv

# Ignore check points and logs
checkpoints/
logs/

# Ignore evaluation and figure output directories
eval_outputs/
training_outputs/

# Ignore generated figures and metrics
*.png
!docs/figures/*.png
metrics.txt

# Ignore temp files
temp.txt

# Ignore pytest cache
.pytest_cache/

# Ignore those figure generrated for the report
report_figures/
generate_report_plots.py


